<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977245321698-8lk2ad5t2cjb7usr1ckrajnh136ooe03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977245321698-8lk2ad5t2cjb7usr1ckrajnh136ooe03</string>
	<key>API_KEY</key>
	<string>AIzaSyA-x8uJlbJPpmGHVeF9OgxAeYj9KV1Y7As</string>
	<key>GCM_SENDER_ID</key>
	<string>977245321698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-42765</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-42765.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977245321698:ios:ed38c28f069654ac57e1bb</string>
</dict>
</plist>